<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-sm-12">
    <%= form.label :room_id,  class: "control-label col-sm-2" %>
    <div class="col-sm-3">
      <%= form.select :room_id, options_from_collection_for_select(@rooms, :id, :room_no),{prompt: "Select atleast one"}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <%= form.label :booking_date,  class: "control-label col-sm-2" %>
    <div class="col-sm-3">
      <%= form.text_field :booking_date, class: "datepicker form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    $('.datepicker').datepicker({
      startDate: new Date(),
      endDate: "+6m",
      format: 'yyyy-mm-dd'
    });
  });
</script>
