<!DOCTYPE html>
<html>
  <head>
    <title>PaynearbyAssignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to root_path, class: "navbar-brand" do %><%= image_tag "paynearby-logo", class: "nav-logo" %><% end %></a>
          </div>
          <ul class="nav navbar-nav">
            <li class="<%= yield :my_booking_class %>"><%= link_to "My Bookings", bookings_path %></li>
            <li class="<%= yield :profile_class%>"><%= link_to "Profile", edit_user_registration_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
