<!DOCTYPE html>
<html>
  <head>
    <title>PaynearbyAssignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'authentication', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <div class="row">
          <div class="col-md-offset-4 col-md-4">
            <div class="form-login">
              <%= yield %>
            </div>
          </div>
      </div>
    </div>
  </body>
  <script>
    $(".errors").fadeOut(2500);
  </script>
</html>
